image: registry.sutunam.com/sutunam/ci/php_ci:8.1

default:
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
      - vendor/
  before_script:
      - curl --show-error --silent "https://getcomposer.org/installer" | php
      - echo "$auth_json" > auth.json
      - php composer.phar install

phpstan:
  script:
      - php composer.phar run phpstan

code-analysis:
  script:
      - php composer.phar run phpcs

phpunit:
  script:
      - vendor/bin/phpunit
